{%extends 'base.html'%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block content%}
  <div class="row ">
    <div class="col-md-12" >    
      
      <blockquote class="blockquote text-center">
        <footer class="blockquote-footer"><cite>{{CommentPost.title}}</cite></footer> <a  href="/home"><button style="float: left;" type="button" class="btn btn-primary btn-xs">< BACK<br></button></a>
        <p class="mb-0">{{CommentPost.description}}</p>        
      </blockquote>
      <hr>
    </div>
  </div>
  <div class="row">    
    {%for commentP in comment_list%}
      <div class="col-md-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0">{{commentP.comment}}</p>
          <footer class="blockquote-footer"><cite>Submitted on :{{commentP.time}}</cite></footer>
        </blockquote>
        <a  href="{{url_for('main.delete_comment', commentId = commentP.id)}}"><button style="float: right;" type="button" class="btn btn-danger btn-xs">DEL<br></button></a>
      </div>          
    {%endfor%}
  </div>
  <br> <strong><hr></strong>
  <div class="row" style="text-align: center;" >
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>Add a Comment</h3>
      {{wtf.quick_form(comment_form)}}
    </div>
    <div class="col-md-3"></div>
    
  </div>               
  
{%endblock%}